@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;400&display=swap');

/*____________________
Table of Contents
1. Global Styles
2. Typography
3. Layout
3.1 Reusable
3.2 Other
4. Areas
4.1 Header
4.2 Introduction
4.3 Projects
4.4 Services
4.5 Footer
5. Media Queries
____________________*/


/*__________1. Global Styles__________*/

/*___1.1 Variables___*/
:root {
    --main-color: #5722cd;
    --main-bg-color: white;
    --projects-bg-color: #f3f6f9;
    --services-font-color: #7A7A7A;
    --button-color: #ed4385;
    --blue-color: #4845e4;
    --main-font-color: #0c0c0c;
    --floating-text-color: #f2f0ff;
}

/*__________2. Typography___________*/
* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: merriweather, Serif;

}

h1  {
    color: var(--floating-text-color);
    font-size: 50px;
    text-align: center;
    max-width: 850px;
}

.header__sub {
    font-weight: lighter;
    display: inline-block;
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
}
h2 {
    color: var(--main-font-color);
    text-transform: capitalize;
}
h3 {
    color: var(--main-color);
    font-size: 30px;
    text-align: center;
}

h4 {
    color: var(--main-color);
    font-size: 30px;
    text-transform: capitalize;
}


    /*__________3. Layout__________*/

    /*___3.1 Reusables___*/
.header__outer-container,
.intro__outer-container,
.projects__outer-container,
.services__outer-container,
.footer__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: 2px solid red;
}

.header__inner-container,
.intro__inner-container,
.projects__inner-container,
.services__inner-container,
.footer__inner-container {
    flex-basis: 1400px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
}

.services__logo {
    max-width: 75px;
}

/*___3.2 Other___*/

/*__________4. Areas__________*/

/*___4.1 HEADER___*/
.header__outer-container {
    background-color: var(--main-color);
}

.navigation {
    width: 100%;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    padding: 10px;
    font-weight: 400;
    padding-top: 25px;
    font-size: 15px;
}

.navigation__item {
    list-style-type: none;
}

.navigation__item a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--floating-text-color);

}

/*___4.2 INTRO___*/


/*___4.3 PROJECTS___*/
.projects__wrapper {
    display: flex;
    flex-direction: column;
}

.projects__img-wrapper {
    display: flex;
    flex-direction: row;
}
/*___4.4 SERVICES___*/

/*___4.5 FOOTER___*/

/*__________5. Media Queries__________*/
