@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;400&display=swap');

/*____________________
Table of Contents
1. Global Styles
2. Typography
3. Layout
3.1 Reusable
3.2 Other
4. Areas
4.1 Header
4.2 Introduction
4.3 Projects
4.4 Services
4.5 Footer
5. Media Queries
____________________*/


/*__________1. Global Styles__________*/

/*___1.1 Variables___*/
:root {
    --main-color: #5722cd;
    --main-bg-color: white;
    --projects-bg-color: #f3f6f9;
    --services-font-color: #7A7A7A;
    --button-color: #ed4385;
    --blue-color: #4845e4;
    --main-font-color: #0c0c0c;
    --floating-text-color: #f2f0ff;
}

/*__________2. Typography___________*/
* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: merriweather, Serif;

}

h1  {
    color: var(--floating-text-color);
    font-size: 50px;
    text-align: center;
    max-width: 850px;
}


h2 {
    color: var(--main-font-color);
    text-transform: capitalize;
    font-size: 38px;
    /*letter-spacing: 1px;*/
}

h4 {
    color: var(--main-color);
    font-size: 30px;
    text-transform: capitalize;
}


    /*__________3. Layout__________*/

    /*___3.1 Reusables___*/
.header__outer-container,
.intro__outer-container,
.projects__outer-container,
.services__outer-container,
.footer__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: 2px solid red;
}

.header__inner-container,
.intro__inner-container,
.projects__inner-container,
.services__inner-container,
.footer__inner-container {
    flex-basis: 1400px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
}



/*___3.2 Other___*/

/*__________4. Areas__________*/

/*___4.1 HEADER___*/
.header__outer-container {
    background-color: var(--main-color);
}

.header__inner-container {

}

.navigation {
    width: 100%;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    font-weight: 400;
    padding: 25px 10px 10px;
    font-size: 15px;
}

.navigation__item {
    list-style-type: none;
}

.navigation__item a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--floating-text-color);

}

.header__hero-section {

}

.header__title {

}

.intro__title {
    /*font-weight: lighter;*/
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 0.75em;
    max-width: 950px;
}

.button--active {

}

.header__wave-img {

}

/*___4.2 INTRO___*/
.intro__outer-container {

}

.intro__inner-container {

}

.intro__title {
    color: var(--main-color);
    font-size: 30px;
    text-align: center;
}

.intro__question-click {

}



/*___4.3 PROJECTS___*/
.projects__outer-container {

}

.projects__inner-container {
    background-color: var(--projects-bg-color);
    gap: 3em;
}


.projects__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*flex-wrap: wrap-reverse;*/
    padding: 3em;
    /*margin: ;*/
    border: 2px solid blue;
}

.projects__wrapper:nth-of-type(2),
.projects__wrapper:nth-of-type(4),
.projects__wrapper:nth-of-type(6) {
    flex-direction: row-reverse;
}

.projects__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    /*border: 2px solid orange;*/
}

.projects__title {

}

.projects__squiggle-img {
    width: 68px;

}

.projects__text {
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 400;

}

.projects__link {
    text-transform: uppercase;
    text-decoration: none;

}

.projects__img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    /*padding: 1em;*/

}

/*___4.4 SERVICES___*/
.services__wrapper {
    flex-basis: 360px;
    display: flex;
    flex-direction: row;
    aspect-ratio: 1 / 1;
    padding: 2em;
    border: 1px solid var(--main-color);

}

.services__logo {
    max-width: 75px;
}
/*___4.5 FOOTER___*/

/*__________5. Media Queries__________*/
